
*{
     margin: 0;
     padding: 0; 
     box-sizing: border-box; 
}
body{
    background-color: rgb(245, 188, 245);
}
h1{
    text-align: center;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
}
#con{
    width: 80%;
    margin: 60px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

 img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}    
#con img:hover{
    transform: scale(1.05) rotate(-3deg);
    transition: 0.3s ease;
    box-shadow: 0 0 10px black;
    border-radius: 15px;
}
#picture{
    width: 90%;
    height: 370px;
    max-width: 500px;
}
#backbox{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0,0.9);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#backbox span{
    position: absolute;
    top:5%;
    right: 5%;
    color: white;
    cursor: pointer;
}
span:hover{
    background-color: rgb(109, 109, 108);
    padding: 3px;
}
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px; */
