* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

body {
    background-color: black;
    overflow-x: hidden;
}

.back {
    position: relative;
}

.back img {
    display: block;
    width: 100%;
    height: 700px;
    opacity: 0.9;
    z-index: 2;

}

span {
    position: absolute;
    padding-top: 8px;
    top: 20px;
    left: 8%;
    z-index: 1;
    color: rgb(227, 7, 7);
    font-size: 50px;

}

.sign {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 20px;
    position: absolute;
    top: 30px;
    right: 0;
    color: white;
    cursor: pointer;
}

.s2 {
    border: 1px solid rgb(227, 7, 7);
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(227, 7, 7);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

.s2:hover {
    background-color: rgb(189, 6, 6);
    border: rgb(189, 6, 6);
}

.s1 {
    border: 1.5px solid rgb(166, 164, 164);
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(26, 25, 25);
    opacity: 0.8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.con {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    padding-left: 20%;
    top: 250px;
    left: 180px;
    gap: 20px;
    color: white;
}

input {
    color: white;
    border: rgb(86, 86, 87);
    width: 230px;
    border-radius: 5px;
    background-color: rgb(51, 51, 52);
    opacity: 0.8;
    padding: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.mail {
    display: flex;
    gap: 20px;
}
.txt{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mail p {
    border: solid rgb(227, 7, 7);
    border-radius: 5px;
    background-color: rgb(227, 7, 7);
    width: 150px;
    text-align: center;
    align-content: center;
}

.mail p:hover {
    background-color: rgb(189, 6, 6);
    border: rgb(189, 6, 6);
    cursor: pointer;
}

.movies img {
    height: 200px;
    min-width: 17%;
    min-height: 100px;
    border-radius: 5px;
}

.movies::-webkit-scrollbar {
    display: none;
}

.movies img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.movies {
    display: flex;
    justify-content: start;
    gap: 20px;
    overflow-x: auto;
    flex-shrink: 0;
    padding: 20px;
    margin-left: 80px;
    margin-right: 80px;
}

.trending {
    color: white;
    margin-left: 100px;
    margin-top: 50px;
}
h4{
    color: white;
    margin-left: 100px;
    margin-top: 30px;
    margin-top: 50px;

}
.i1,.i2,.i3,.i4{
    color: white;
    padding: 20px;
    border: solid  rgba(1, 1, 44, 0.791);
    border-radius: 15px;
    height: 240px;
    width: 240px;
    max-width: 80%;
    max-height: 70%;
    
    background-color: rgba(1, 1, 44, 0.791);
}
.info{
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: start;
    gap: 20px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
.info .i1 p,.info .i2 p,
.info .i3 p,.info .i4 p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(160, 159, 160);
}